/* general styling and page-layout */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: black;
    min-height: 100vh;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 24px;
    margin-bottom: 24px;
    flex: 0 0 auto;
    background-color: #1F2937;
    color: #F9FAF8;
}

header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 64px;
    list-style-type: none;
}

header a {
    font-size: 48px;
    font-weight: 900;
    text-decoration: none;
    color: #F9FAF8;
}

header a:hover {
    color: #3882F6;
}

section.content {
    flex: 1 1 auto;
}

footer {
    padding: 8px;
}


/* Now there comes the stuff in the main content */


/* Website-parts */


/* banner */

.banner {
    display: flex;
    justify-content: center;
}

.banner-left {
    flex: 4 1 0;
    text-align: right;
}

.banner-right {
    flex: 4 1 0;
}

img.banner-right {
    width: auto;
    height: auto;
}

.banner-only {
    flex: 8 1 0;
}

.placeholder {
    flex: 1 4 0;
}


/* bio */

.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.bio-header {
    flex: 1 1 0;
    font-size: 36px;
    font-weight: 900;
    padding: 16px;
}

.bio-content {
    text-align: center;
    flex: 1 1 0;
    font-size: 18px;
}

.bio-button {
    color: white;
    background-color: #3882F6;
    padding: 16px;
    border-radius: 5px;
    width: fit-content;
    margin-top: 16px;
}


/* project list */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(53, 53, 63);
    margin: 32px;
    padding: 16px;
    background-color: #E5E7EB;
}

img.project-logo {
    height: 250px;
    width: 250px;
    border-radius: 50px;
}

.project-text {
    width: 300px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.project-button {
    margin-top: auto;
    padding: 16px;
    border-radius: 5px;
    width: fit-content;
    margin-top: 16px;
    color: white;
    background-color: #3882F6;
    text-decoration: none;
    font-size: 24px;
}


/* project site */

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.project-title {
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    padding: 16px;
}

.project-notes {
    text-align: center;
}

#canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}


/* contact page */

.contact {
    align-self: center;
    justify-self: center;
    display: flex;
}

.contact-img {
    box-shadow: 0 0 1em rgb(53, 53, 63);
    border-radius: 10px;
}

.contact-content {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    margin: 16px;
}

.contact-subtitle {
    margin-left: 32px;
}

.contact-socialmedia {
    display: flex;
}

.contact-icons {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    margin-top: 8px;
}

.contact-icons li {
    float: left;
    margin: 8px;
}


/* stuff I need often */

.header {
    font-size: 36px;
    font-weight: 900;
    padding: 16px;
    text-align: center;
}


/* links */

.link {
    color: #3882F6;
    text-decoration: none;
}

button {
    color: #3882F6;
}

.button {
    color: white;
    background-color: #3882F6;
    padding: 16px;
    border-radius: 5px;
    width: fit-content;
    margin-top: 16px;
    text-decoration: none;
}


/* logos */

div.logo {
    background-image: url("../images/logo-square.jpg");
    background-size: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    flex: 0 0 auto;
}

div.logo-small {
    background-image: url("../images/logo-square.jpg");
    background-size: 50px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    flex: 0 0 auto;
}

img.icon {
    height: 30px;
    width: 30px;
}