body {
  background-color: white;
  color: black;
}

p {
  color: black;
}

.btn {
  background-color: #FFFF00;
  border: none;
  color: #000000;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 8px;
}

.code {
    background-color: #cfcfcf;
    border: none;
    color: #000000;
    padding: 0px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 5px;
}

.site-footer {
  background-color: lightgrey;
  color: black;
}
