@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  scroll-behavior: smooth;
}

body {
  background: #151D21;
  color: white;
}

p {
  background: #151D21;
  color: white;
}

.btn {
  background-color: #FFFF00;
  border: none;
  color: #000000;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 8px;
}

.link {
  color: #003ec4;
  text-decoration: underline;
}

.table {
  border: 1;
}

.code {
    background-color: #cfcfcf;
    border: none;
    color: #000000;
    padding: 4px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
}

.site-footer {
  background: #151D21;
  color: white;
}

.main-content {
  background: #151D21;
  color: white;
}
