<h1>Pong</h1>
<p>Works with w/s and arrow up/down. You have to click on the pong screen first, then you can move.</p>
<div class="iframe-container">
	<iframe src="https://dmeurer.github.io/p5js_stuff/P5js/pong/" class="iframe-sketch" name="sketch" scrolling="no" height="600px" width="800px" allowfullscreen></iframe>
</div>
<p>Please keep in mind, this is a very old project of mine. I was satisfied with it, without having a "restart" button or similar. Also the size is not dynamic and it is not at all oriented towards mobile phones.</p>
