@use "@angular/material" as mat;

@mixin theme($theme) {
  svg.logo>g>.grey {
    opacity: 1;
    fill: mat.get-theme-color($theme, primary);
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1.5;
    stroke-dasharray: none;
    stroke-opacity: 1;
  }


  svg.logo>g>.dark {
    opacity: 1;
    fill: darken(mat.get-theme-color($theme, primary), 15%);
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1.5;
    stroke-dasharray: none;
    stroke-opacity: 1;
  }


  svg.logo>g>.trans {
    opacity: 1;
    fill: darken(mat.get-theme-color($theme, primary), 15%);
    fill-opacity: 0.3;
    stroke: none;
    stroke-width: 1.5;
    stroke-dasharray: none;
    stroke-opacity: 1;
  }
}
