<svg
		x="0px" y="0px" width="960px" height="960px"
		viewBox="0 0 128 128">
	<g
			inkscape:label="Layer 1"
			inkscape:groupmode="layer"
			id="layer1">
		
		
		<g
				id="g1"
				inkscape:label="Logo"
				transform="matrix(32,0,0,32,-32,-32)">
			<path
					style="opacity:1;fill:#3a3a3c;fill-opacity:1;stroke:none;stroke-width:1.55887;stroke-dasharray:none;stroke-opacity:1;paint-order:normal;image-rendering:auto"
					d="M 1,1 H 4 L 5,2 V 4 L 4,5 H 1 L 2,4 H 4 V 2 L 3,3 Z"
					id="path32"
					sodipodi:nodetypes="ccccccccccc"
					inkscape:label="grey"/>
			<path
					style="opacity:1;fill:#080808;fill-opacity:1;stroke:none;stroke-width:1.55887;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
					d="M 1,1 2,2 V 4 L 1,5 Z"
					id="path33"
					sodipodi:nodetypes="ccccc"
					inkscape:label="dark"/>
			<path
					style="opacity:1;fill:#080808;fill-opacity:0.108466;stroke:none;stroke-width:1.55887;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
					d="M 2,2 3,3 2,4 Z"
					id="path34"
					sodipodi:nodetypes="cccc"
					inkscape:label="translucent"/>
		</g>
	</g>
</svg>

