<svg
		height="960px" viewBox="0 0 128 128" width="960px" x="0px"
		y="0px">
	<g
			id="layer1"
			inkscape:groupmode="layer"
			inkscape:label="Layer 1">
		
		
		<g
				id="g1"
				inkscape:label="Logo"
				transform="matrix(32,0,0,32,-32,-32)">
			<path
					d="M 1,1 H 4 L 5,2 V 4 L 4,5 H 1 L 2,4 H 4 V 2 L 3,3 Z"
					id="path32"
					inkscape:label="grey"
					sodipodi:nodetypes="ccccccccccc"
					style="opacity:1;fill:#3a3a3c;fill-opacity:1;stroke:none;stroke-width:1.55887;stroke-dasharray:none;stroke-opacity:1;paint-order:normal;image-rendering:auto"/>
			<path
					d="M 1,1 2,2 V 4 L 1,5 Z"
					id="path33"
					inkscape:label="dark"
					sodipodi:nodetypes="ccccc"
					style="opacity:1;fill:#080808;fill-opacity:1;stroke:none;stroke-width:1.55887;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"/>
			<path
					d="M 2,2 3,3 2,4 Z"
					id="path34"
					inkscape:label="translucent"
					sodipodi:nodetypes="cccc"
					style="opacity:1;fill:#080808;fill-opacity:0.108466;stroke:none;stroke-width:1.55887;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"/>
		</g>
	</g>
</svg>

