<h1 class="page-header">Snake</h1>
<p>You can use the arrow keys to move, and the rest should be self explanatory.<br>
	The color choice is rather interesting, I was just experimenting with the gradient and didnt care about the contrast being too small for the dark blue.</p>
<div class="iframe-container">
	<iframe allowfullscreen class="iframe-sketch" height="400px" name="sketch" scrolling="no" src="https://dmeurer.github.io/p5js_stuff/other/snake/" width="400px"></iframe>
</div>
<p>Please keep in mind, this is a very old project of mine. The size is not dynamic and it is not at all oriented towards mobile phones.</p>
