<h1 class="page-header">Game of Life</h1>
<p>I dont think I have to explain what this is, if you dont know it's just a Wikipedia article away.
	The life cells are random placed and then the simulation will be started. When I made this years ago, I didn't see a need for any interactivity or at least a restart button. So I guess you will have to reload the page to look at it again.</p>
<div class="iframe-container">
	<iframe allowfullscreen class="iframe-sketch" height="400px" name="sketch" scrolling="no" src="https://dmeurer.github.io/p5js_stuff/P5js/game-of-life/" width="600px"></iframe>
</div>
<p>Please keep in mind, this is a very old project of mine. The size is not dynamic and it is not at all oriented towards mobile phones.</p>
