<h1 class="page-header">The QR-Code riddle solver</h1>
<p>Sadly I cant figure out how to embed this here correctly.<br>
	I made stripped down versions of all the P5js stuff.
	Basically, I removed everything from the old website, so there is only the canvas left. Then I was able to just embed this into this Website using an iframe.
	<br>This worked for everything except this page. It's too big to embed without scaling, but scaling an iframe is not as straight forward as it could be.</p>
<p>So here you can try the stripped down (and ugly as hell) version.</p>

<a href="https://dmeurer.github.io/p5js_stuff/P5js/QrCodeRiddle/" mat-stroked-button target="_blank">Show me the Thing!</a>
