@use "@angular/material" as mat;

@use "./common/components/navbar/navbar-theme";
@use "./common/components/logo/app-logo";
@use "./common/components/project-card/project-card-theme";

// Styles for the docs app that are based on the current theme.
@mixin theme($theme) {
  .docs-app-background {
    background: mat.get-theme-color($theme, surface);
  }

  .docs-help-support {
    color: mat.get-theme-color($theme, on-surface);

    a {
      color: mat.get-theme-color($theme, on-surface-variant);
    }
  }

  h1.page-header {
    margin-top: 50px;
  }

  .iframe-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }


  .iframe-sketch {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include navbar-theme.theme($theme);
  @include app-logo.theme($theme);
  @include project-card-theme.theme($theme);
}
