<h1 class="page-header">Gift-Wrapping Algorithmus</h1>
<p>An algorithm to enclose a set of random points with the shortest path possible.</p>
<div class="iframe-container">
	<iframe allowfullscreen class="iframe-sketch" height="500px" name="sketch" scrolling="no" src="https://dmeurer.github.io/p5js_stuff/P5js/gift-wraping/" width="500px"></iframe>
</div>
<p>Please keep in mind, this is a very old project of mine. I was satisfied with it, without having a "restart" button or similar. Also the size is not dynamic and it is not at all oriented towards mobile phones.</p>
