#calculator {
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: 700px;
    width: 500px;
}

#display {
    background-color: #b2b9b7;
    flex: 1 1 auto;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#displaytext {
    text-align: right;
    margin-right: 10px;
    font-size: 128px;
}

.button-row {
    flex: 1 1 auto;
    display: flex;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

button {
    border-radius: 15px;
    flex: 1 1 0%;
    margin: 5px;
    color: black;
    font-size: 32px;
}

button#zero {
    flex: 2.3 1 0%;
}

.operator {
    background-color: #FF8F1F;
}

.operator:focus {
    background-color: #ffc183;
}

.equals {
    background-color: #FF8F1F;
}

.equals:active {
    background-color: #ffc183;
}

.operand {
    background-color: #217C7E;
}

.operand:active {
    background-color: #33b9bb;
}

.decimal {
    background-color: #217C7E;
}

.decimal:active {
    background-color: #33b9bb;
}

.clear {
    background-color: dodgerblue;
}

.clear:active {
    background-color: rgb(123, 189, 255);
}

.sign {
    background-color: dodgerblue;
}

.sign:active {
    background-color: rgb(123, 189, 255);
}

.percent {
    background-color: dodgerblue;
}

.percent:active {
    background-color: rgb(123, 189, 255);
}